//IMPORTS

@import '../../../Variables.scss';

//SCSS

.TabTitle {
    list-style: none;

    .tabTitleButton {
        border: none;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        padding: 1rem 0;
        background-color: $lightgreen;
        min-width: 200px;
        text-align: center;
        cursor: pointer;
        &.active {
            background-color: $darkgreen;
        }
        @media (max-width: $mobile) {
            padding: 0.5rem;
            min-width: 0px;
            font-size: 0.7rem;
            &:first-of-type {
                margin-left: 0rem;
            }
        }
    }
}
