.bg-coral {
    background-color: #FF6347; /* Coral color */
}

.bg-skyblue {
    background-color: #87CEEB; /* Sky blue color */
}

.bg-gold {
    background-color: #FFD700; /* Gold color */
}

.h-100 {
    height: 100vh; /* Set the height to 100% of the viewport height */
}