.Login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .button {
        margin: 1rem;
        align-items: center;
        text-align: center;
        display: flex;
        justify-self: center;
    }
}
