@import '../../../Variables.scss';

.BoxSlider {
    width: 400px;
    background-color: white;
    border-radius: $borderradius;
    box-shadow: $boxshadow;
    padding: 1.5rem;

    .BoxHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        .Title {
            font-weight: bold;
        }
    }

    .Oeexplain {
        padding-bottom: 2rem;
    }
}
