* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side {
  background-color: #111;
  margin-top: 1vh;
  margin-left: 1vw;
  border-radius: 5px;
  box-shadow:  2px 3px 5px #1f1f1f;
}

#setPositionIcon1{
  margin-top: 1vh;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  border-radius: 5px;
  height: 3vh;
}

#setPositionIcon2{
  margin-top: 1vh;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  border-radius: 5px;
  height: 3vh;
}

#sideLeft {
  width: 22vw;
  height: 98vh;
  background-color: #3c70ab;
}

.MemeMenu{
  background-color: #3c70ab;
  width: 22vw;
  height: 8vh;
  border-radius: 5px;
}

#historyBtn{
  width: 8vw;
  height: 4vh;
  margin-top: 2vh;
  margin-left: 2vw;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 2.5vh;
  font-family: 'Courier New', Courier, monospace;
}

#templateBtn{
  width: 8vw;
  height: 4vh;
  margin-top: 2vh;
  margin-left: 2vw;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 2.5vh;
  font-family: 'Courier New', Courier, monospace;
}





.active{
  color: black;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 5px #353535 inset;
  
}

.notActive{
  color: rgb(53, 53, 53);
  background-color: #e9e9e9;
  box-shadow: 3px 3px 5px #353535;
}

.notActive:hover {
  background-color: #c7c7c7;
}


div.MemeList{
  background-color: #444;
  margin-top: 1vh;
  margin-left: 0.5vw;
  width: 21vw;
  height: 88vh;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #1f1f1f inset;
  display: block;
  overflow-y:scroll;
}

#MemeTile{
  display:flex;
  flex-direction: column;
  margin-top: 1vh;
  margin-left: 0.5vw;
  width: 19vw;
  height: 30vh;
  background-color: #222;
  border-radius: 5px;
  box-shadow: 1px 2px 3px #1f1f1f;
}

.ImageMeme{
  margin-top: 1vh;
  margin-left: 0.5vw;
  height: 20vh;
  width: 18vw;
  border-radius: 5px;
}

.TitleMeme{
  color:#999;
  font-weight: 500;
  margin-left: 1vw;
  margin-top: 0.5vh;
}

.InfoMeme{
  color:#888;
  font-weight: 500;
  margin-left: 1vw;
  margin-top: 0.5vh;
}


::-webkit-scrollbar{
  background-color: #555;
}

::-webkit-scrollbar-button{
  background-color: #111;
}

::-webkit-scrollbar-thumb{
  background-color: #333;
}

.upperBtns {
  display: flex;
  height: 8vh !important;
  justify-content: right !important;
  background-color: #222;
  padding-right: 1.5vw;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #1f1f1f;
}

.leftBtns {
  display: flex;
  flex-flow: column wrap;
  width: 12vw;
  height: 89vh;
  margin-top: 1vh;
  margin-left: 1vh;
  justify-content: center;
  background-color: #222;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #060606;
}

.leftBtn {
  margin: 1vh .35vw !important;
  margin-left: .5vw !important;
}

.upperBtn {
  height: 4.5vh !important;
  margin: 1vh .35vw !important;
  margin-top: 1.5vh !important;
}

.canvasContainer {
  width: 63vw;
  height: 89vh;
  background-color: #444;
  border-radius: 5px;
  margin-top: 1vh;
  margin-bottom: 9vh;
  margin-left: 0vw;
  box-shadow: 3px 3px 6px #1f1f1f inset;
}

.canvasImage{
  position:absolute;
  left: 24vw; 
  top: 10vh; 
  z-index: 0;
}

.canvasText{
  position:absolute;
  left: 24vw; 
  top: 10vh; 
  z-index: 1;
}

.editCanvasView{
  display: flex;
  flex-direction: row;
}

.inputFieldDescription{
  color: #3c70ab;
  margin-bottom: 1vh;
  font-weight: 500;
}

input[type=text] {
  padding-left: 0.25vw; 
}

#inputField{
  margin-top: 1vh;
  width: 10vw;
  max-width: 10vw;
  color: white;
  background-color: #555;
  border-radius: 5px;
}

#inputField2{
  margin-top: 1vh;
  width: 10vw;
  max-width: 10vw;
  color: white;
  background-color: #555;
  border-radius: 5px;
}

#xpositionInputField1{
  margin-top: 1vh;
  width: 3vw;
  height: 2vh;
  max-width: 10vw;
  color: white;
  background-color: #555;
  border-radius: 5px;
}
#ypositionInputField1{
  margin-top: 1vh;
  width: 3vw;
  height: 2vh;
  max-width: 10vw;
  color: white;
  background-color: #555;
  border-radius: 5px;
}
#xpositionInputField2{
  margin-top: 1vh;
  width: 3vw;
  height: 2vh;
  max-width: 10vw;
  color: white;
  background-color: #555;
  border-radius: 5px;
}
#ypositionInputField2{
  margin-top: 1vh;
  width: 3vw;
  height: 2vh;
  max-width: 10vw;
  color: white;
  background-color: #555;
  border-radius: 5px;
}

.positionInputHolder{
  margin-right: 0.5vw;
  display: flex;
  flex-direction: column;
}

.positionInputLabel{
  color: #3c70ab;
  font-size: 1.6vh;
  margin-left: 0.4vw;
}

#updateButton{
  width: 9vw;
  height: 3vh;
  background-color: #3c70ab;
  border: none;
  border-radius: 3vh;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 2.4vh;
  margin-top: 1vh;
  margin-left: 0.5vw;
  margin-bottom: 1vh;
  box-shadow: 3px 4px 4px #0c0c0c;
}

#updateButton:hover {
  background-color: #2261aa;
}

#outlined-adornment-weight{
  color:white;
  background-color: #444;
  padding: 0;
}

#unit{
  padding: 0;
}

#outlined-weight-helper-text{
  min-width: max-content;
  color: #3c70ab;
}

.positionInputContainer{
  display: flex;
  flex-direction: row;
}

#positionInput{
  margin-top: 1vh;
  margin-right: 0.5vw;
  width: 3vw;
  height: 8vh;
}



#canvasEditors{
  width:10vw;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}

.editorContainer {
  display: flex;
  flex-flow: row;
  width: stretch;
  height: stretch;
}


#sideRight {
  width: 75vw;
  height: 98vh;
}

#profileBtn {
  position: absolute;
  bottom: 2.2vh;
  left: 1.8vw;
}

#btnSave {
  min-width: 6vw;
}



.Screenlayout{
  background-color: #070709;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.hidden {
  display: none;
}
