//IMPORTS

@import '../../../../Variables.scss';

//SCSS

.OptionButton {
    width: 100%;
    &::marker {
        appearance: none;
    }
    &:hover {
        background-color: rgba(170, 185, 196, 0.2);
    }
    .button {
        display: block;
        background-color: transparent;
        width: 100%;
        border: none;
        color: black;
        padding: 10px 28px;
        font-size: 1rem;
        cursor: pointer;
        text-align: left;

        &:hover {
            background-color: rgba(170, 185, 196, 0.2);
        }
        @media (max-width: $mobile) {
            font-size: $mobiletext;
            padding: 0.5rem 1rem;
        }
    }
}
